/* Generel styling */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eae7e0;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
}

h1,
h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 13px;
}

header {
    display: block;
    margin: 10px 0 0 0;
}

button {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}


/* Styling af Leaflet Map */

#mapid {
    height: 500px;
    z-index: 0;
}

/* Styling af knapper i pop-up i Leaflet Map */

.leaflet-popup-content button {
    background-color: #84A0B5;
    border-radius: 5px;
    width: 160px;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.leaflet-popup-content div {
    display: flex;
    flex-direction: row;
}

/* Styling af logo der toner frem i starten */

.splash img {
    width: 80%;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eae7e0;
    z-index: 9999;
    color: white;
    text-align: center;
    line-height: 120vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #EAEAE0;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 120vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    bottom: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


/* Styling af ikoner i toppen */

.icon-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 5px 0 0;
}

.icon-top button {
    border: 0;
    background: none;
}

.icon-top img {
    width: 30px;
    padding: 3px;
}

/* Styling af informations pop-up */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 80%;
    height: 86%;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    width: 50px;
}

.popup img {
    width: 10%;
    height: 10%;
    margin-right: 10px;
}

.pin-container {
    display: flex;
    flex-direction: column;
}

.pin-section {
    display: flex;
    flex-direction: row;
}

.kontakt a {
    color: #333333;
    font-size: 13px;
}

.kontakt {
    margin-top: 30px;
}

/* Styling af logo */

#logo {
    width: 30%;
    display: block;
    margin: 0 auto;
}


/* Styling af søgefelt */

#soeg {
    -webkit-appearance: none;
    margin: 10px auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 350px;
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.search-icon {
    position: absolute;
    width: 20px;
    padding-top: 14px;
    right: 30px;
    opacity: 0.8;
}


/* Styling af "Dag"-dropdown */

.dropdown-knap {
    background-color: white;
    border-radius: 5px;
    width: 165px;
    color: black;
    padding: 10px 0;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

.arrowDropdown {
    margin-left: 50%;
    width: 18px;
}

.rotateArrow {
    transform: rotate(180deg);
}

.dag-dropdown {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 13px;
}

/* Dropdown content - skjult by default */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

/* Styling af links i dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

/* Styling af filter-knap */

.filter-knap {
    margin-left: 6px;
}

.filter-knap button {
    background-color: #84A0B5;
    border-radius: 5px;
    width: 165px;
    color: white;
    padding: 10px 0;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);
}