html,
body {
    margin: 0;
    padding: 0;
    background-color: #eae7e0;
}

h1,
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
    font-size: 19px;
}

h3 {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #333333;
    font-size: 17px;
}

p {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #333333;
    font-size: 15px;
}

header {
    display: block;
    margin: 10px 0 0 0;
}


#mapid {
    height: 500px;
    z-index: 0;
}

/* Logo der toner frem i starten*/
.splash img {
    width: 80%;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eae7e0;
    z-index: 9999;
    color: white;
    text-align: center;
    line-height: 120vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #EAEAE0;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 120vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    bottom: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


/* Ikoner i toppen */

.icon-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 5px 0 0;
}

.icon-top button {
    border: 0;
    background: none;
}

.icon-top img {
    width: 30px;
    padding: 3px;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 80%;
    height: 90%;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2,
p {
    font-size: 15px;
}

.popup img {
    width: 10%;
}


.pin-container {
    display: flex;
    flex-direction: column;
}

.pin-section {
    display: flex;
    flex-direction: row;
}

.pinsection img {
    width: 30%;
}

/* Logo */

#logo {
    width: 30%;
    display: block;
    margin: 0 auto;
}



/* søgefelt og genveje */
#soeg {
    -webkit-appearance: none;
    margin: 1em auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 350px;
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.search-icon {
    position: absolute;
    width: 15px;
    padding-top: 14px;
    right: 30px;
    opacity: 0.8;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    border-radius: 5px;
    width: 160px;
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.arrowDropdown {
    margin-left: 30%;
}

.rotateArrow {
    transform: rotate(180deg);
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #84A0B5;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.filtrer-button {
    background-color: #84A0B5;
    border-radius: 5px;
    width: 160px;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}