html,
body {
    margin: 0;
    padding: 0;
    background-color: #eae7e0;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: block;
    margin: 10px;
}

header img {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 20px 0 20px 0;

}


#mapid {
    height: 800px;

}

/* Logo der toner frem i starten*/
.splash img {
    width: 80%;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eae7e0;
    z-index: 9999;
    color: white;
    text-align: center;
    line-height: 120vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #EAEAE0;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 120vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    bottom: 0;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* søgefelt og genveje */
#soeg {
    -webkit-appearance: none;
    margin: 1em auto;
    margin-bottom: 25px;
    width: 100%;
    max-width: 350px;
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    border: 0;
    border-radius: 10px;
    font-family: houschka-rounded, sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.button-button {
    text-decoration: none;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 8px;
    margin-bottom: 13px;
    border-radius: 12px;
    border: 0;
    background: var(--text-color-light);
    color: #FFF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: houschka-rounded, sans-serif;
    font-size: 12px;
    font-weight: 500;

}

.button-button:nth-child(3) {
    margin-right: 8px;
}

.button-button:nth-last-child(1) {
    margin-right: 8px;
}

.button-button a {
    text-decoration: none;
    color: #FFF;
}



/* Extra small devices (phones, 600px and down)
KUN HELT SPECIFIKT TIL MOBIL*/
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}